<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.fenmo.dao.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.cn.fenmo.pojo.News" >
    <id column="mainId" property="mainid" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="newSrc" property="newsrc" jdbcType="VARCHAR" />
    <result column="newsType" property="newstype" jdbcType="INTEGER" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="zcount" property="zcount" jdbcType="INTEGER" />
    <result column="comments" property="comments" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List">
     mainId, title, newSrc, newsType, summary, userName, createDate,state,content,zcount
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT p.*,(select COUNT(1) FROM fm_news_comment t where t.newsId = p.mainId) comments
    From fm_news p
    where mainId = #{mainId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
     delete from fm_news
     where mainId = #{mainId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.cn.fenmo.pojo.News" >
      insert into fm_news (mainId, title, newSrc,newsType,summary, userName,state,createDate,content,zcount)
      values (#{mainid,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{newsrc,jdbcType=VARCHAR}, 
      #{newstype,jdbcType=INTEGER},#{summary,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
       #{state,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR}, #{zcount,jdbcType=INTEGER})
  </insert>
  
   <!--查询新闻总数 -->
   <select id="selectCount" resultType="Integer" parameterType="java.util.Map">
	    select count(*)
	    from fm_news
	    <where>
		      <if test="userName != null" >
		        userName = #{userName,jdbcType=VARCHAR}
		      </if>
		      <if test="state != null" >
		        and state = #{state,jdbcType=INTEGER}
		      </if>
		      <if test="title != null" >
		        and title like '%${title}%'
		      </if>
		      <if test="newsType != null" >
		        and newsType = #{newsType,jdbcType=INTEGER}
		      </if>
	     </where>
   </select>
  
  <!-- 分页查询新闻 -->
   <select id="selectPageBy" resultMap="BaseResultMap" parameterType="java.util.Map">
	     SELECT p.*,(select COUNT(1) FROM fm_news_comment t where t.newsId = p.mainId) comments
         From fm_news p
	     <where>
		      <if test="userName != null" >
		        userName = #{userName,jdbcType=VARCHAR}
		      </if>
		      <if test="state != null" >
		        and state = #{state,jdbcType=INTEGER}
		      </if>
		      <if test="title != null" >
		        and title like '%${title}%'
		      </if>
		      <if test="newsType != null" >
		        and newsType = #{newsType,jdbcType=INTEGER}
		      </if>
	     </where>
	     ORDER BY p.createDate desc
     	<if test="start!=null and limit !=null">
     		LIMIT #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
     	</if>
     	<if test="page!=null and rows !=null">
     		LIMIT #{page,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
     	</if>
	     
   </select>
   
   <select id="selectNewsHeadPage" resultMap="BaseResultMap" parameterType="java.util.Map">
	     SELECT * FROM  fm_news 
	     WHERE STATE = #{state,jdbcType=INTEGER}
	     ORDER BY createDate DESC 
	     LIMIT #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
   </select>
   
   <update id="update" parameterType="com.cn.fenmo.pojo.News" >
        update fm_news
	     <set>
		      <if test="title != null" >
		        title = #{title,jdbcType=VARCHAR},
		      </if>
		      <if test="newsrc != null" >
		        newSrc = #{newsrc,jdbcType=VARCHAR},
		      </if>
		      <if test="content != null" >
		        content = #{content,jdbcType=VARCHAR},
		      </if>
		      <if test="summary != null" >
		        summary = #{summary,jdbcType=VARCHAR},
		      </if>
	     </set>
        where mainId = #{mainid,jdbcType=BIGINT}
  </update>
  
  <update id="publishNews" parameterType="java.util.Map" >
     update fm_news
    <set>
      <if test="isPublish!= null" >
        state = #{state,jdbcType=INTEGER}
      </if>
    </set>
     where mainId = #{mainId,jdbcType=BIGINT}
  </update>
  
  <update id="updateZCount" parameterType="java.util.Map" >
     update fm_news
    <set>
        zcount = #{zcount,jdbcType=INTEGER}
    </set>
     where mainId = #{mainId,jdbcType=BIGINT}
  </update>
</mapper>