<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.fenmo.dao.RoomUsersMapper" >
  <resultMap id="BaseResultMap" type="com.cn.fenmo.pojo.RoomUsers" >
    <id column="mainId" property="mainid" jdbcType="BIGINT" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="userRemark" property="userRemark" jdbcType="VARCHAR" />
    <result column="groupId" property="groupId" jdbcType="VARCHAR" />
    <result column="startDate" property="startdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    mainId, userName, groupId,startDate,userRemark
  </sql>
  <select id="selectBy" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from fm_room_users
    where userName = #{userName,jdbcType=VARCHAR} and  groupId = #{groupId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteOneUserOfRoom" parameterType="java.lang.String" >
    delete from fm_room_users
    where userName = #{userName,jdbcType=VARCHAR} and groupId = #{groupId,jdbcType=VARCHAR}
  </delete>
  
  <update id="updateUserRemark" parameterType="com.cn.fenmo.pojo.RoomUsers" >
    update fm_room_users set userRemark=#{userRemark,jdbcType=VARCHAR}
    where userName = #{userName,jdbcType=VARCHAR} and groupId = #{groupId,jdbcType=VARCHAR}
  </update>
  
  <insert id="insert" parameterType="com.cn.fenmo.pojo.RoomUsers" >
     insert into fm_room_users (mainId, userName, groupId, startDate, userRemark)
     values (#{mainid,jdbcType=BIGINT}, #{userName,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, 
     #{startdate,jdbcType=TIMESTAMP},#{userRemark,jdbcType=VARCHAR})
  </insert>
  
  <insert  id="insertBatchRecord" parameterType="java.util.List">  
     insert into fm_room_users (mainId,userName,groupId,userRemark,startDate) values  
     <foreach collection="list" item="item" index="index" separator=",">  
        (#{item.mainid},#{item.userName},#{item.groupId},#{item.userRemark},#{item.startdate})  
     </foreach>  
  </insert> 
</mapper>